In [ ]:
                                                        ##Case study-2 Module-1 Introduction to Python Basic constructs

#1.Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
#a. Concatenate the two tuples and store it in “t_combine”
#b. Repeat the elements of “t_combine” 3 times
#c. Access the 3rd element from “t_combine”
#d. Access the first three elements from “t_combine”
#e. Access the last three elements from “t_combine”

#Ans1)t1 = (10,20,30)
t2 = (40,50,60)

#a)t_combine = t1 + t2
t_combine = t1 + t2
print(t_combine)


#b) t_combine * 3
print(t_combine[2])

#c)Access the 3rd element from “t_combine”
print(t_combine[:3])

#d)Access the first three elements from “t_combine”
print(t_combine[3:])

#e)Access the last three elements from “t_combine”
print(t_combine[3:])

(10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)
(40, 50, 60)

In [ ]:
#2)Create a list ‘my_list’ with these elements:
#a. First element is a tuple with values 1,2,3 b.
#b.Second element is a tuple with values “a”,”b”,”c” c.
#c.Third element is a tuple with values True,False

#Ans2)
my_list = [(1,2,3),('a','b','c'),(True,False)]
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [ ]:
#3)Append a new tuple – (1,’a’,True) to ‘my_list’
#a. Append a new list – [“sparta”,123]+ to my_list
#Ans3)
new_tuple = (1,'a',True) # Define new_tuple before using it
my_list += new_tuple
my_list
#a)
new_list = ["sparta",123]
my_list = my_list + new_list # Removed the extra space before this line
my_list

[(1, 2, 3),
 ('a', 'b', 'c'),
 (True, False),
 1,
 'a',
 True,
 1,
 'a',
 True,
 'sparta',
 123]

In [ ]:
#4)Create a dictionary ‘fruit’ where:
#a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
#b. The second key is ‘Cost’ and the values are (85,54,120,70)
#c. Extract all the keys from ‘fruit’
#d. Extract all the values from ‘fruit’
#Ans4)
#a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
#“Guava”)
fruit = {'Fruit': ('Apple', 'Banana', 'Mango', 'Guava') , 'Cost': (85, 54, 120, 70)}
print(fruit)


#b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
cost = fruit['Cost']
print(cost)

#c. Extract all the keys from ‘fruit’
print(fruit.keys())

#d. Extract all the values from ‘fruit’
print(fruit.values())

{'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}
(85, 54, 120, 70)
dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [ ]:
#5. Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and
#print the result
#Ans5)
my_set = {1, 1, 'a', 'a', True, True}
print(my_set)

{1, 'a'}