In [ ]:
n=10
r=5
p=100
A= p*(1 + r/ 100)**n
print(A)

162.8894626777442

In [ ]:
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
print('string.format(a,b)')

string.format(a,b)

In [ ]:
# a. print(“It goes without saying, \“Time is Money\”, and none can deny it.”)
# b. print(“It goes without saying, \Time is Money\, and none can deny it.”)
# c. print(“It goes without saying” + “Time is Money” + “and none can deny it.”)
# d. None of the above.

print('It goes without saying, \“Time is Money\”, and none candeny it.')

It goes without saying, \“Time is Money\”, and none candeny it.

In [ ]:
#x = lambda a,b: a//b
#x(10,3)
#a. 3.3333333333
#b. 3
#c. 30
#d. 1000
print(3)

3

In [ ]:
#A = 10
#B = 12
#print("Smaller") if A == B else print("Greater") if A < B else print("True")
#a. true
#b. Smaller
#c. Greater
#d. none of the above

print("Greater")

Greater

In [ ]:
import numpy as np
my_list1=[2,7,3,5,4,6]
print (my_list1)
arr_1= np.array(my_list1, dtype= int)
print(arr_1)

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

In [ ]:

#a.string[slice(13,8,1)]
#b.string[slice(1,8,1)]
#c.string[8:14]
#d.string[slice(8,13,1)]
print("string[slice(8,13,1)]")

string[slice(8,13,1)]

In [ ]:

# a.3
# b.2
# c.0
# d.1
print("2")

2

In [ ]:
#num1=5**4
#num2=pow(5,4)
#a num1 = num2
#b num1 ≠ num2
#c. num1 < num2
#d. num1 > num2

print('num1 = num2')

num1 = num2

In [ ]:
#a. Trying to access a variable which has not been defined
#b. Trying to access a key in a dictionary that does not exist
#c. Accessing a column with misspelled column name
#d. Accessing the function from a module that has not been imported

print('Trying to access a variable which has not been defined')

Trying to access a variable which has not been defined

In [ ]:

#x="string"
#int (x)

print('ValueError')

ValueError

In [ ]:

#a. Trying to create a file or directory which already exists
#b. A file or directory is requested but does not exist in the working directory
#c. Trying to run an operation without the adequate access rights
#d. A directory operation, os.listdir() is requested on something which is not a
#directory
print('A file or directory is requested but does not exist in the working directory')

A file or directory is requested but does not exist in the working directory

In [ ]:
#Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
# a.Complex
# b.Character
# c.Integer
# d.Boolean
print('String')

String

In [ ]:
#Which of the following variable(s) are character data type?
# a. K= “4”
# b. J= “Welcome”
# c. L= “?”
# d. All of the above

print('All of the above')

All of the above

In [ ]:
#Choose the symbol/s that does not have the ability to convert any values to string?
# a.( )
# b.“ ”
# c.{}
# d.#

print('{}')

{}

In [ ]:
import pandas as pd
from IPython.core.display import display, HTML

#create the table data
Country={"India":"Delhi","China":"Beijing","Japan":
"Tokyo","Qatar":"Doha","France":"Marseilles"}
print(Country)
# Assign "Paris" to the "France" key directly
Country["France"]="Paris"
#Alternatively, you can use update to modify multiple keys
# Country.update({"France":"Paris", "another_key":"another_value"})
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Marseilles'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [ ]:
#Create the tuples given belowtuple_1 =(1,5,6,7,8)tuple_2 =(8,9,4)Identify which of the following code does not work on a tuple.
#a.sum(tuple_1)
#b.len(tuple_2)
#c.tuple_2 +tuple_1
#d.tuple_1[3]= 45[48]
print ('tuple_1[3]= 45[48]')

tuple_1[3]= 45[48]

In [ ]:

#S={1,2,3,4,4,4,5,6}:
S={1,2,3,4,4,4,5,6}
len(S)
print('6')

6

In [ ]:
def pythagorean(n):
    # Indent the code block within the function
    for a in range(1, n + 1):
        for b in range(a, n + 1):
            c_sqr = a**2 + b**2
            c = int(c_sqr**0.5)
            if c_sqr == c**2 and c <= n:
                print(a, b, c)

pythagorean(35)

3 4 5
5 12 13
6 8 10
7 24 25
8 15 17
9 12 15
10 24 26
12 16 20
15 20 25
16 30 34
18 24 30
20 21 29
21 28 35